<form action ="/login" method ="POST" style = "float: right; width: 70%;" >
  <h5 style = "display: inline;">Login:</h5>
  <input class="form-control" type="text" name="username" placeholder="username" style="width: 300px; margin: 1em; display: inline;">
  <button type="submit" class="btn btn-primary" style = "display: inline;">Submit</button>
</form>